version: '3'

services:

### Nginx Server Container ##################################

    nginx:
        image: lunamoonfang/wtg-nginx
        restart: always
        volumes:
            - ./app/:/var/www/html
        environment:
            VIRTUAL_HOST: 'example.com'
        networks:
            - default
            - proxy

### PHP Container ###########################################

    php:
        image: lunamoonfang/pb-php
        restart: always
        volumes:
            - ./app/:/var/www/html

### MySql Container #########################################

    mysql:
        image: mysql:5.6
        restart: always
        volumes:
            - ./mysql/:/var/lib/mysql
        environment:
            MYSQL_DATABASE: 'db'
            MYSQL_ROOT_PASSWORD: 'bigger-secret'

networks:
    # nginx-proxy image network
    proxy:
        external:
            name: proxy_default
