@import '../colors';

#content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 100%;
    padding: 0 0 0 300px;

    .CodeMirror-code div:nth-of-type(even) .CodeMirror-line {
      background: rgba(255,255,255,0.03);
    }

    .CodeMirror-linenumbers {
      min-width: 50px;
    }

    .CodeMirror-linebackground.highlighted {
      background-color: rgba(0,0,0,0.3);
    }

    .gutter-highlight {
      padding-left: 10px;
    }
  }
}